.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--grey);
  padding: 20px 10%;
  box-sizing: border-box;
  border-top: 1px solid var(--dgrey);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2f363e;
  position: relative;
}
.nav_notification {
  background-color: #ff6229;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: absolute;
  left: 20px;
  bottom: 15px;
}
.nav_badge {
  background-color: #ff6229;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  left: 35px;
  bottom: 25px;
}
